* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  background-color: aqua;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
}
a* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users {
  list-style-type: none;
  padding: 0;
}

.user {
  margin: 8px;
  display: flex;

  &__age {
    font-weight: 700;
    opacity: 0.5;
    margin-left: auto;
  }
}

.filter {
  display: flex;
  height: 32px;

  &__input {
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 3px solid #ff7f50;
    border-left: none;
    padding: 8px;
    font-size: 24px;
    outline: none;
  }

  &__count {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 3px solid #ff7f50;
    border-right: none;
    width: 40px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: #ff7f50;
    color: #fff;
  }
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-control {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 4px;
  outline: none;
}

.submit-button {
  width: 100%;
  height: 32px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 16px;
  background-color: coral;
  color: white;
}
